{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for post in posts%}
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{post.get_absolute_url}}"><img src="{{post.thumb.url}}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{post.timestamp|date:'d M Y'}}</div>
                    <div class="category"><a href="#">{{post.categories.first}}</a></div>
                  </div>
                  <a href="{{post.get_absolute_url}}">
                    <h3 class="h4">{{post.title}}</h3></a>
                  <p class="text-muted">{{post.description|truncatechars:75}}...</p>
                  <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{post.author.profile_pic.url}}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{post.author.name}}</span></div></a>
                    <div class="date"><i class="icon-clock"></i> {{post.timestamp | timesince}}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{post.comments.count}}</div>
                  </footer>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Pagination -->
            {% if posts.has_other_pages %}
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if posts.has_previous %}
                <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                  {% for i in posts.paginator.page_range %}
                  {% if posts.number == i %}
                <li class="page-item">
                  <a href="#" class="page-link active">{{i}}</a>
                </li>
                {%else%}
                <li class="page-item">
                  <a href="?page={{ i }}" class="page-link">{{i}}</a>
                </li>
                {%endif%}
                {%endfor%}
                  {% if posts.has_next %}
                <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </main>
      {% include "aside.html" with latest=latest categories_count=categories_count %}
      </div>
    </div>

{% endblock content %}